html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0px;
    padding: 0px;

    font-family: 'Open Sans', sans-serif;

    background-image: url("img/IMG_4156.jpg");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*p {*/
    /*background-color: dimgrey;*/
    /*background-color: rgba(255, 255, 255, .85);*/
/*}*/

/*body {*/
    /*background-image: url("img/IMG_4156.jpg");*/
/*}*/


.wrapper {
    /*background-color: lightpink;*/
    position: relative;
    /*position: absolute;*/
    max-width: 800px; /* Maximum width */
    margin: 0 auto; /* Center it */

    max-width: 50%;
    display: flex;
    flex-direction: row;
    height: 80%;
}

.left, .right {
    /*background-color: lightsalmon;*/

    margin: 5px;
    margin: 0 auto; /* Center it */
    max-width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /*position: absolute; !* Position the background text *!*/
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    /*background: rgb(0, 0, 0); !* Fallback color *!*/
    /*background: rgba(0, 0, 0, 0.5); !* Black background with 0.5 opacity *!*/
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */
}

.left {
    align-items: center;
    justify-content: center;
}

.name {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2px;
    /*background: rgb(0, 0, 0); !* Fallback color *!*/
    /*background: rgba(0, 0, 0, 0.5); !* Black background with 0.5 opacity *!*/
}

.profile-picture {
    border-radius: 40%;
    border: 5px solid black;
}

.social-links {
    list-style: none;
    padding-left: 0px;
    font-size: 18px;
}

.social-links li {
    display: inline-block;
    margin-right: 8px;
}

.social-links a {
    text-decoration: none;
    padding: 4px;
}

.social-links a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
}

.body {
    background: linear-gradient(to bottom, rgba(231, 240, 245, 1) 0%, rgba(170, 221, 235, 1) 100%);
}

.bio {
    /*position: absolute; !* Position the background text *!*/
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */
    margin: 0 auto; /* Center it */
}

.footer {
    background: #061D25;
    padding: 10px 0;
}
.footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    transition: all .5s ease;
}
.footer a:first-child {
    border-left: 1px solid #70726F;
}
.footer a:hover {
    color: white;
}
